.site-header {
    height: 64px;
    background: #fff;
    border-bottom: 1px solid #E4E4EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
}

.site-header .site-title {
    float: left;
    height: 32px;
    width: 156px;
    background-size: cover;
}

.site-header .site-nav {
    height: 100%;
}

.site-header .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
    float: right;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    color: #121214;
    display: flex;
}

.site-header .site-nav li {
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-items: center;
}

.site-header .site-nav li>a {
    margin-bottom: -1px;
    height: 100%;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header a {
    color: #383838;
    text-decoration: none;
}

.site-header a.active {
    border-bottom: 1px solid #5177FF;
    color: #5177FF;
}

.content {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.posts-wrapper {
    padding: 40px 0;
}

.page-title {
    font-size: 32px;
    color: #121214;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bolder;
}

.page-subtitle {
    color: #71717D;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 48px;
}

.post-content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 16px;
}

.post {
    border: 1px solid #E4E4EB;
    height: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition:0.3s;
    &:hover{
        transform: translateY(-4px);
    }

    .post-thumnail {
        width: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }

    .info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);
        padding: 15px;
        box-sizing: border-box;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        h2 {
            font-size: 20px;
            margin-bottom: 8px;
            font-weight: bolder;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #fff;
        }

        p {
            line-height: 1.2;
        }
    }


    &:hover .info {
        opacity: 1;
    }


}


@media (max-width: 670px) {
    .site-header {
        width: 88%;
    }

    .site-title {
        width: 48px !important;
    }
}